body {
  font-family: system-ui;
  background: #06d9f0;
  color: white;
  text-align: center;
}

.center-image {
  text-align: center;
  margin: 20px 0;
}

/* Image size */
img {
  width: 500px;
  height: 500px;
}

p {
  font-size: 18px;
}
